h1= title
p Welcome to #{title}

input#main-color(type="color", value="#FF0000")

script(src='/javascripts/colorcanvas.js')
script(src='/javascripts/colorcanvas.input.js')
script(src='/javascripts/controller-socket.js')
