h1= title
p Welcome to #{title}

input#main-color(type="color", value="#FF0000")

input#slider(type="range", min="0", max="100", step="1", value="50")

script(src='/javascripts/colorcanvas.js')
script(src='/javascripts/colorcanvas.input.js')
script(src='/javascripts/controller-socket.js')
