!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/colorcanvas.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client-socket.js')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
  body!= body
